.header {
  text-align: center;
  transform: translateY(30%);
}
.hello {
  font-size: 100px;
  display: inline;
  line-height: -10px;
}

.thisIs {
  font-size: 30px;
  font-weight: 400;
  display: inline;
}

.max {
  font-size: 250px;
}

.textCenter {
  text-align: center;
}

.coverPhoto{
  border-radius: 10px;
  margin-bottom: 15px;
}